{% extends "base_admin.html" %}
{% load static %}
{% block title %}Reservas{% endblock %}


{% block content %}
    <div class="container-fluid px-3 pt-3">
        <div class="card card-bg">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">Reserva</h3>
                </div>
            </div>

            <div class="card mt-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <!-- Tabla de reserva -->
                                <table id="example1" class='table table-bordered  table-hover'>
                                    <thead class="text-center">
                                        <tr >
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>CI/RUC</th>
                                            <th>Teléfono</th>
                                            <th>Correo</th>
                                            <th>Instalación</th>
                                            <th>Fecha Reserva</th>
                                            <th>Fecha Reservada</th>
                                            <th>Horarios</th>
                                            <th>Valor</th>
                                            <th>Reservas Atendidas</th>
                                            <th>Acción</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in reservas %}
                                        {% if r.pago > 0.00 %}
                                        <tr class='text-center'>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{r.nombres|title}} {{r.apellidos|title}}</td>
                                            <td>{{r.cedula}}</td>
                                            <td>{{r.telefono}}</td>
                                            <td>{{r.email}}</td>
                                            <td>{{r.id_instalacion.nombre }}</td>
                                            <td>{{r.fecha_reservacion|date:"m/d/Y"}}</td>
                                            <td>{{r.fecha_reservada|date:"m/d/Y"}}</td>
                                            <td >
                                                {{ r.horario.first.HorarioInicio|time:"H:i A" }} <br> {{ r.horario.last.HorarioFin|time:"H:i A" }}

                                                <!-- {% for horario in r.horario.all %}
                                                {{ horario.HorarioInicio|time:"H:i A" }}-{{ horario.HorarioFin|time:"H:i A" }}<br>
                                                {% endfor %} -->
                                            </td>
                                            
                                            <td>{{r.pago}}</td>
                                            {% if r.estado2 == False  %}
                                            <td style="color: red"><i class="fa fa-window-close"  aria-hidden="true"></i></td>
                                            {% elif r.estado2 == True  %}
                                            <td style="color: green"><i class="fa fa-check-square" aria-hidden="true"></i></td>
                                            {% endif%}
                                            <td>

                                                <a href="/eliminacionReserva/{{r.id}}" class=" btn btn-sm btn-danger btnEliminacion"><i class='fa fa-trash'></i></a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block funciones %}
<script src="{% static 'javascript/funciones.js' %}"></script>
{% endblock %}
        