{% extends "base_admin.html" %}
{% load static %}
{% block title %}Disciplina{% endblock %}


{% block content %}
<div class="container-fluid px-3 pt-3">
    <div class="card card-bg">
        <div class="card mb-1">
            <div class="card-header">
                <h3 class="card-title">Disciplina</h3>
            </div>
        </div>
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="col-12">Nueva Disciplina</h4>
                        <div>
                            <form action="/registroDisiplina/" method="post" class="row"> {% csrf_token %}
                                <div class="form-group col-md-6">
                                    
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="disnombre" id="disnombre" class="form-control">
                                        <button type="submit" class="btn btn-primary separacion" data-bs-toggle="" data-bs-target="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <!-- Tabla de Disiplina -->
                            <table id="example" class='table table-bordered table-stripe table-hover'>
                               
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in disiplinas %}
                                    <tr class='text-center'>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ d.nombre }}</td>
                                        <td>
                                            <a href="/editaDisiplina/{{d.id}}"><button
                                                    class="btn btn-sm btn-success separacion" data-bs-toggle="modal"
                                                    data-bs-target="#modalEditar">
                                                    <i class="fa-solid fa-pen"></i></button></a>

                                            <a href="/eliminacionDisiplina/{{d.id}}"><button
                                                    class="btn btn-sm btn-danger btnEliminacion" data-bs-toggle="modal"
                                                    data-bs-target="#modalDelete">
                                                    <i class='fa fa-trash'></i></button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}