{% extends "base_admin.html" %}
{% load static %}
{% block title %}Horarios{% endblock %}


            {% block content %}
            <div class="container-fluid px-3 pt-3">
                <div class="card card-bg">

                    <div class="card ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="col-12">Nuevo Horario</h2>
                                    <div>
                                        <form action="/registroHorario/" method="post" class="row" > {% csrf_token %}
                                            <div class="form-group col-md-4">
                                                <label for="">Hora Inicio</label>
                                                <input type="time" name="horaInicio" id="horaInicio" class="form-control" step="3600" required>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="">Hora Final</label>
                                                <input type="time" name="horaFinal" id="horaFinal" class="form-control"step="3600"  required>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <button type="submit" class="btn btn-sm btn-primary mt-4" data-bs-toggle="" data-bs-target="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                        fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                                    </svg>Agregar
                                                </button>
                                                </div>
                                            </div>

                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <!-- Tabla de Horario -->
                                        <table id="example3" class='table table-bordered  table-hover'>
                                            <thead class="text-center">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Horarios</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for h in horarios %}
                                                <tr class='text-center'>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{ h.HorarioInicio|time:"H:i A" }} - {{ h.HorarioFin|time:"H:i A" }}</td>
                                                    <td>

                                                        <!-- <a href="/editaDisiplina/{{d.id}}"><button class="btn btn-sm btn-success separacion" style="margin-bottom: 3%" data-bs-toggle=""
                                                            data-bs-target="">
                                                            <i class="fa-solid fa-pen"></i></button></a> -->
                                                        <a href="/eliminacionHorario/{{d.id}}" class=" btn btn-sm btn-danger btnEliminacion"><i class='fa fa-trash'></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <!-- Fin Tabla de Reserva -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                