{% extends "base_admin.html" %}
{% load static %}
{% block title %}Instalaciones{% endblock %}


{% block content %}
<div class="container-fluid px-3 pt-3">
    <div class="card card-bg">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="card-title">Reserva</h3>
            </div>

           
        </div>
        <div class="container-fluid mb-4">
            <h2 class="text-center">Lector De Codigo Qr</h2>
            {% csrf_token %}
                <div class="user-info">
                    <div class="text-center">
                        <video id="preview"  style="width: 300px;"></video>
                    </div>
                </div>
                <div class="card-content text-center mt-3">
                    <h3>Datos de la reserva</h3>
                    


                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="resultado" class="table-responsive">
                            </div>
                            <div id="resultado2" class="text-center"></div>
                        </div>
                    </div>
                </div>
        </div>


    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'javascript/funciones.js' %}"></script>

<script src="{% static 'javascript/instascan.min.js' %}"></script>
<script src="{% static 'javascript/jquery.min.js' %}"></script>
<script type="text/javascript">

    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    let result = document.getElementById('resultado');
    let result2 = document.getElementById('resultado2');
    let csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

    
    scanner.addListener('scan', function (content) {
        console.log(content);
        // ...
        result.innerHTML = "";
        result2.innerHTML = "";

        fetch('/actualizar_estado/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrf_token
            },
            body: 'qr_value=' + encodeURIComponent(content)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Se actualizó el estado de la reserva.');
                let reserva = JSON.parse(data.reserva)[0].fields;
                let instalacion = data.instalacion;
                let horarios = data.horarios; // Aquí se almacenan los horarios como una cadena de caracteres
                let info = `<table class="table ">
                                <tr>
                                    <th>Instalación:</th>
                                    <td>${instalacion}</td>
                                </tr>
                                <tr>
                                    <th>Nombres:</th>
                                    <td>${reserva.nombres} ${reserva.apellidos}</td>
                                </tr>
                                
                                <tr>
                                    <th>Cédula:</th>
                                    <td>${reserva.cedula}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>${reserva.email}</td>
                                </tr>
                                <tr>
                                    <th>Teléfono:</th>
                                    <td>${reserva.telefono}</td>
                                </tr>
                                <tr>
                                    <th>Fecha de reservación:</th>
                                    <td>${reserva.fecha_reservacion}</td>
                                </tr>
                                <tr>
                                    <th>Fecha reservada:</th>
                                    <td>${reserva.fecha_reservada}</td>
                                </tr>
                                <tr>
                                    <th>Horario:</th>
                                    <td>${horarios}</td>
                                </tr>
                                </table>`;
                    result.innerHTML = info;

            } else {
                let mensaje = data.error_message;

                let info2 = `<h4 class="text-danger"><i>${mensaje}</i></h4>`;
                result2.innerHTML = info2;
                console.error(data.error_message);
            }
        })
        .catch(error => console.error(error));
    });

    Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);

            // Guardamos el stream de la cámara en la variable videoStream
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                videoStream = stream;
                scanner.video.srcObject = videoStream;
            }).catch(function(error) {
                console.error("Error al acceder a la cámara: " + error);
            });
        } else {
            console.error('No se encontraron cámaras.');
        }
    }).catch(function (e) {
        console.error(e);
    });


</script>

{% endblock %}
        