{% extends "base.html" %}
{% load static %}

{% block title %}Instalaciones{% endblock %}

{% block content %}
<section id="special">
  <div class="container">
    <div class="title text-center">
      <h2 class="position-relative d-inline-block">Instalaciones</h2>
    </div>

    <div class="special-list row g-0">
      <div class="col-md-6 col-lg-6 col-xl-6 p-2">
        <div class="special-img position-relative overflow-hidden">
          <img src="{% static 'img/img1.jpg' %}" class="ajustarimg" alt="Imagen 4">

        </div>
        <div class="text-center">
          <p class="text-capitalize mt-3 mb-1">Cancha sintetica 1</p>
          <a href="#" class="btn btn-primary mt-3">Ver</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-6 p-2">
        <div class="special-img position-relative overflow-hidden">
          <img src="{% static 'img/img1.jpg' %}" class="ajustarimg" alt="Imagen 4">

        </div>
        <div class="text-center">
          <p class="text-capitalize mt-3 mb-1">Cancha sintetica 2</p>
          <a href="#" class="btn btn-primary mt-3">Ver</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-6 p-2">
        <div class="special-img position-relative overflow-hidden">
          <img src="{% static 'img/img1.jpg' %}" class="ajustarimg" alt="Imagen 5">

        </div>
        <div class="text-center">
          <p class="text-capitalize mt-3 mb-1">Cancha sintetica 3</p>
          <a href="#" class="btn btn-primary mt-3">Ver</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-6 p-2">
        <div class="special-img position-relative overflow-hidden">
          <img src="{% static 'img/img1.jpg' %}" class="ajustarimg" alt="Imagen 6">

        </div>
        <div class="text-center">
          <p class="text-capitalize mt-3 mb-1">Cancha sintetica 4</p>
          <a href="#" class="btn btn-primary mt-3">Ver</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}