{% extends "base.html" %}
{% load static %}

{% block title %}Instalaciones{% endblock %}

{% block content %}
<hr>
<div class="container grid">
  <div class="row align-items-start text-center">
    <div class="col-lg-7">
      <div class="container special-img borde position-relative overflow-hidden ">
        <img class=" " src="../media/{{verInstalacion.imagen}}" style="width:80%" alt="Escenario">
      </div>
    </div>
    <!-- <hr class="vertical"> -->
    <div class="col-md-5">
      <div class="col">
        <h4>Precio</h4>
        <p> ${{verInstalacion.precio}}</p>
      </div>
      <hr>
      <div class="col">
        <h4>Nombre</h4>
        <p>{{verInstalacion.nombre}}</p>
      </div>
      <hr>
      <div class="col">
        <h4>Incluye</h4>
        <p>{{verInstalacion.equipo_incluido}}</p>
      </div>
      <hr>
      <div class="col">
        <h4> Descripción </h4>
        <p> {{verInstalacion.descripcion}} </p>
      </div>
      

    </div>
  </div>
  <hr>


  <div class="row ">
    <div class="col">
      <h3>CARACTERISTICAS</h3>
      <table class="table  table-striped ">
        <thead>
        </thead>
        <tbody>
          <tr>
          
            <td><b> Capacidad:</b></td>
            <td>{{verInstalacion.capacidad}}</td>
          </tr>
          <tr>
           
            <td><b>  Indumentaria Necesaria:</b></td>
            <td>{{verInstalacion.indumentaria}}</td>
          </tr>
          <tr>
            
            <td><b>Recomendaciones: </b> </td>
            <td>{{verInstalacion.recomendaciones}}</td>
          </tr>
          <tr>
          
            <td><b> Restriciones:</b></td>
            <td>{{verInstalacion.restriciones}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <hr>


  <div class="row ">
    <div class="col">
      <h3 class="text-center">FORMULARIO DE RESERVA </h3>
      <form action="/pagoonline/{{verInstalacion.id}}" method="post" class="row g-3">{% csrf_token %}
        <div class="col-6">
          <label for="inputNombre" class="form-label">Nombres</label>
          <input type="text" class="form-control" name="nombre" id="nombre" placeholder="">
        </div>

        <div class="col-6">
          <label for="inputApellido" class="form-label">Apellidos</label>
          <input type="text" class="form-control" name="apellido" id="apellido" placeholder="">
        </div>

        <div class="form-group col-md-6">
          <label for="">Ci/Ruc</label>
          <input type="text" name="ci" id="ci"class="form-control"   maxlength="10" minlength="10"  required> 
        </div>

        <div class="form-group col-md-6">
          <label for="">Telefono</label>
          <input type="text" name="telefono" id="telefono" class="form-control" pattern="^[0-9999999999]+" maxlength="10" minlength="10" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail" class="form-label text-left">Email</label>
          <input type="email" class="form-control" name="correo" id="correo" placeholder="email@example.com">
        </div>
        
        <div class="col-md-6">
          <label for="inputFecha" class="form-label">Fecha a Reservar</label>
          <input type="date" class="form-control" name="fecha_reserva" id="fecha_reserva">
        </div>
        <div class="col-md-6">
          <label for="inputHorainicio" class="form-label">Horario</label>
          <select class="form-select"  id="horario" name="horario" multiple size="3" required>
            {% for op in horarios %}
                <option value="{{ op.id }}">Desde {{ op.HorarioInicio|time:"H:i A" }} Hasta {{ op.HorarioFin|time:"H:i A" }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="col-md-6">
          <label for="inputHorafin" class="form-label">Total a pagar</label>
          <input type="text" class="form-control" name="pago" id="pago" value="{{verInstalacion.precio}}" readonly>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <button type="submit" class="btn btn-primary">Pagar/Reservar</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-12"></div>
      </form>

      <div id="reservas-container"></div>
      <!-- Incluir jQuery usando el CDN de Google -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <script>
        
        $(function() {
          // Obtener el id de la instalacion de la url actual
          const url = window.location.href;
          const id = url.split('/').pop();

          // Manejador de evento para el cambio de fecha
          $('#fecha_reserva').change(function() {
            var fechaReservada = $(this).val();
            console.log(fechaReservada);

            // Llamar a la API para obtener horarios disponibles en la fecha seleccionada
            $.ajax({
              url: '/reservas_api/',
              data: {
                'id_instalacion': id,
                'fecha_reservada': fechaReservada
              },
              dataType: 'json',
              success: function(data) {
                console.log('Horarios disponibles en la fecha seleccionada:');
                console.log(data);

                // Limpiar el contenido del select
                $('#horario').empty();

                // Agregar cada horario disponible como una opción del select
                data.forEach(function(horario) {
                  $('#horario').append($('<option>', {
                    value: horario.id,
                    text: 'Desde ' + horario.HorarioInicio + ' Hasta ' + horario.HorarioFin
                  }));
                });
              },
              error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error al recuperar datos de la API: ' + errorThrown);
              }
            });
          });
        });

        //--------
        const select = document.getElementById("horario");
        const costo = document.getElementById('pago').value;
        let pago = document.getElementById('pago')

        // Funcion para seleccionar una opcion sin precionar ctrl 
        // y para cambiar el valor del input de pago
        select.addEventListener("mousedown", function(event) {
          event.preventDefault();
          
          const select = this;
          const scroll = select.scrollTop;
          
          event.target.selected = !event.target.selected;
          
          setTimeout(function() {
              select.scrollTop = scroll;
          }, 0);
          
          select.focus();

          const horas = [...select.options].filter(option => option.selected);
          // console.log(horas.length);
          
          let total = costo*(horas.length)
          pago.value = total
        });
        
      </script>
    </div>
  </div>
</div>


{% endblock %}



